<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Member List</title>
    <style type="text/css">
        h1 {
            color: #295073;
            border: 3px solid #295073;
            letter-spacing: 0.1em;
            display: inline-block;
            padding: .2em .5em;
        }

        .header {
            text-align: center;
        }

        table {
            max-width: 500px;
            margin: 0 auto;
        }

        th {
            text-align: left;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: normal;
            border-bottom: 1px solid #d6d6d6;
            padding: .75rem;
            vertical-align: top;
        }

        td {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        div{
            text-align: center;
        }

        .btn-a{
            color: #295073;
            border: 3px solid #734c29;
            letter-spacing: 0.1em;
            display: inline-block;
            padding: .2em .5em;
            background-color: rgb(255, 170, 0);
        }
    </style>
</head>

<body>
    <section class="header">
        <h1>Member List</h1>
    </section>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th class="edit">Edit</th>
                <th class="del">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="index.php?action=edit&id={{ user.id }}" class="btn btn-primary"><i class='fas fa-edit'></i>
                    </a>
                </td>
                <td>
                    <a href="index.php?action=delete&id={{ user.id }}" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this user?')"><i class='fas fa-trash'></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="index.php?action=add" class="btn-a">Add Member</a>
    </div>
    
</body>

</html>